{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Welcome to RavaDev</h1>
<p>Your go-to place for web development services.</p>
<img src="{% static 'images/home_banner.jpg' %}" alt="Home Banner">
{% endblock %}