<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   width="50mm"
   height="30mm"
   viewBox="0 0 210 297"
   version="1.1"
   id="svg5"
   inkscape:version="1.2.2 (b0a8486541, 2022-12-01)"
   sodipodi:docname="logoRavaDev.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview7"
     pagecolor="#ffffff"
     bordercolor="#000000"
     borderopacity="0.25"
     inkscape:showpageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:deskcolor="#d1d1d1"
     inkscape:document-units="mm"
     showgrid="true"
     inkscape:zoom="0.7500982"
     inkscape:cx="350.62076"
     inkscape:cy="723.23864"
     inkscape:window-width="1470"
     inkscape:window-height="1011"
     inkscape:window-x="0"
     inkscape:window-y="32"
     inkscape:window-maximized="0"
     inkscape:current-layer="layer1">
    <inkscape:grid
       type="xygrid"
       id="grid2138" />
  </sodipodi:namedview>
  <defs
     id="defs2">
    <linearGradient
       inkscape:collect="always"
       id="linearGradient3141">
      <stop
         style="stop-color:#2ed4c7;stop-opacity:1;"
         offset="0"
         id="stop3137" />
      <stop
         style="stop-color:#ff0099;stop-opacity:1;"
         offset="1"
         id="stop3139" />
    </linearGradient>
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient3141"
       id="linearGradient3143"
       x1="67.342381"
       y1="174.83913"
       x2="108.04228"
       y2="174.83913"
       gradientUnits="userSpaceOnUse" />
  </defs>
  <g
     inkscape:label="Warstwa 1"
     inkscape:groupmode="layer"
     id="layer1">
    <g
       id="g3135"
       style="stroke:url(#linearGradient3143)"
       inkscape:export-filename="g3135.png"
       inkscape:export-xdpi="603.58105"
       inkscape:export-ydpi="603.58105">
      <path
         style="fill:none;fill-opacity:1;stroke:url(#linearGradient3143);stroke-width:3;stroke-dasharray:none;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1"
         d="m 95.009171,153.61476 h -26.16679 v 42.30434 h 16.06438 l 16.270979,-26.2287 c 0,0 5.17864,-11.23456 -6.168569,-16.07564 z"
         id="path2246" />
      <path
         style="fill:none;fill-opacity:1;stroke:url(#linearGradient3143);stroke-width:3;stroke-dasharray:none;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1"
         d="m 68.878346,180.67026 11.135339,-11.13534 26.528595,26.52859"
         id="path2248" />
    </g>
  </g>
</svg>
